<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="../assets/css/index.css">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">

</head>
<body class="body body--login">

  <div id="login" class="login">
    <h2 class="text text--heading-1">Iniciar Sesión</h2>
    <input type="text" id="usuario" class="form-input" placeholder="Usuario"><br><br>
    <input type="password" id="clave" class="form-input" placeholder="Contraseña"><br><br>
    <button id="btnLogin" class="button button--login">Entrar</button>
  </div>

  <script src="../assets/js/login.js"></script>
</body>
</html>
