body {
  background-color: #d7dade;
  margin-bottom: 60px;
}

* {
  outline: 1px solid lime;
}

.body--login{
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.login {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px; 
  text-align: center;
}


.text {
  font-family: "Crimson Text", serif;
}

.text--heading-1 {
  margin-top: 40px;
}

.text--heading-3 {
  text-decoration: underline;
}

.product-list {
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 60px;
}

.separator {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) 200px);
}

.form-input {
  padding: 8px 25px;
  border-radius: 5px;
  border-color: #7b8e9f;
}

.form-input--last{
  margin-right: 40px;
}


.button {
  font-size: medium;
  padding: 8px 25px;
  color: antiquewhite;
  background-color: rgb(123, 142, 159);
  border-radius: 5px;
  border-color: rgb(123, 142, 159);
  margin-right: 15px;
  margin-bottom: 20px;
    &:hover{
      background-color: #4f5b66;
    }
}


.button--login{
  margin:0;
}


